.comment-box {
  display: grid;
  padding: 16px;
  background: white;
  border-radius: 8px;
}

.parent-comment {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr min-content;
  row-gap: 16px;
  color: var(--pr-text-col);
}

.parent-comment__votes,
.parent-comment__actions {
  align-self: center;
}

.parent-comment > button {
  color: white;
  background: var(--pr-btn-col);
  grid-column: 2;
  justify-self: flex-end;
}

.parent-comment article:last-child {
  justify-self: flex-end;
}

.parent-comment__votes {
  grid-column: 1;
}

.parent-comment__header,
.parent-comment__content,
.parent-comment textarea {
  grid-column: 1 / 3;
}

.parent-comment__replyingTo {
  font-weight: 500;
  color: var(--pr-btn-col);
}

.parent-comment__content {
  line-height: 24px;
}

.gap-8 {
  gap: 8px;
}

.replies {
  margin-top: 16px;
  border-left: 2px solid #e9ebf0;
  padding-left: 16px;
}

@media (min-width: 730px) {
  .comment-box {
    padding: 24px;
  }

  .parent-comment {
    gap: 0;
    padding: 24px;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
  }

  .parent-comment__content,
  .parent-comment textarea {
    margin-top: 16px;
    grid-column: 2 / 4;
  }

  .parent-comment__header {
    grid-column: 2;
  }

  .parent-comment > button {
    grid-column: 3;
    margin-top: 16px;
  }

  .parent-comment__votes {
    margin-right: 24px;
    align-self: flex-start;
    grid-row: 1 / 3;
    gap: 22px;
  }

  .parent-comment__actions {
    grid-row: 1;
    grid-column: 3;
  }

  .replies {
    padding-left: 47px;
    margin-left: 47px;
  }
}
