<div class="comment">
  <article class="parent-comment comment-box">
    <header [comment]="comment" [isYours]="isYours" class="parent-comment__header"></header>


    <p *ngIf="!(editing && isYours); else textarea" class="parent-comment__content">
      <span class="parent-comment__replyingTo">{{ comment.replyingTo ? "@" + comment.replyingTo : ""}}</span>
      {{comment.content}}
    </p>

    <ng-template #textarea>
      <textarea class="comment-input h-96" placeholder="Update the comment..." adjustSize [(ngModel)]="contentEditable">
      </textarea>

      <button class="pr-btn" (click)="updateContent()">
        Update
      </button>
    </ng-template>

    <votes [comment]="comment" [isYours]="isYours" class="parent-comment__votes"></votes>

    <actions [isYours]="isYours" (replyEmit)="openReply()" (toggleEditingEmit)="toggleEditing()"
      (openModalEvent)="openModal()" class="parent-comment__actions"></actions>

    <modal *ngIf="modalOpen" [comment]="comment" [parentComment]="parentComment" (closeDialogEvent)="closeModal()">
    </modal>
  </article>

  <reply *ngIf="replyVisible" (closeReply)="closeReply()" [comment]="comment">
    Reply
  </reply>

  <ul class="replies">
    <li *ngFor="let reply of comment.replies">
      <comment [comment]="reply" [parentComment]="comment"></comment>
    </li>
  </ul>
</div>
