.comment-box {
  display: grid;
  padding: 16px;
  background: white;
  border-radius: 8px;
}

.parent-comment {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr min-content;
  row-gap: 16px;
  color: var(--pr-text-col);
}

.parent-comment__vote,
.parent-comment__actions {
  align-self: center;
}

.parent-comment > button {
  color: white;
  background: var(--pr-btn-col);
  grid-column: 2;
  justify-self: flex-end;
}

.parent-comment article:last-child {
  justify-self: flex-end;
}

.parent-comment__vote {
  display: flex;
  width: fit-content;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--pr-btn-col);
  background: var(--primary-back);
  gap: 18px;
  grid-column: 1;
}

.parent-comment__vote path {
  transition: fill 0.3s ease;
}

.parent-comment__vote button:hover path {
  fill: var(--pr-btn-col);
}

.parent-comment__info,
.parent-comment p,
.parent-comment textarea {
  grid-column: 1 / 3;
}

.parent-comment__replyingTo {
  font-weight: 500;
  color: var(--pr-btn-col);
}

.parent-comment__info {
  gap: 16px;
}

.parent-comment__user {
  font-weight: 500;
  color: var(--heading);
}

.parent-comment p {
  line-height: 24px;
}

.parent-comment__actions {
  justify-content: flex-end;
  gap: 16px;
  font-weight: 500;
}

.gap-8 {
  gap: 8px;
}

.parent-comment__btn-blue button {
  color: var(--pr-btn-col);
}

.parent-comment__delete button {
  color: var(--delete);
}

.parent-comment__actions button:hover {
  opacity: 0.6;
}

.parent-comment__you {
  padding: 2px 6px;
  border-radius: 2px;
  color: white;
  background: var(--pr-btn-col);
}

.replies {
  margin-top: 16px;
  border-left: 2px solid #e9ebf0;
  padding-left: 16px;
}

@media (min-width: 730px) {
  .comment-box {
    padding: 24px;
  }

  .parent-comment {
    gap: 0;
    padding: 24px;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
  }

  .parent-comment p,
  .parent-comment textarea {
    margin-top: 16px;
    grid-column: 2 / 4;
  }

  .parent-comment__info {
    grid-column: 2;
  }

  .parent-comment > button {
    grid-column: 3;
    margin-top: 16px;
  }

  .parent-comment__vote {
    margin-right: 24px;
    padding: 10px 15px;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    grid-row: 1 / 3;
    gap: 22px;
  }

  .parent-comment__actions {
    grid-row: 1;
    grid-column: 3;
  }

  .replies {
    padding-left: 47px;
    margin-left: 47px;
  }
}
