@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --primary-back: #f5f6fa;
  --pr-text-col: #67727e;
  --heading: #334253;
  --delete: #ed6368;
  --pale-delete: #ffb8bb;
  --pr-btn-col: #5357b6;
  --pale-pr-btn-col: #c5c6ef;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-back);
  font-family: "Rubik", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

input,
button,
textarea,
select {
  cursor: pointer;
  border: none;
  font: inherit;
  background: transparent;
}

::-webkit-resizer {
  display: none;
}

/* Utilities */
.flex {
  display: flex;
}

.itm-center {
  align-items: center;
}

.h-96 {
  height: 96px;
}

.cont-center {
  justify-content: center;
}

.comment-input {
  border: 2px solid #e9ebf0;
  border-radius: 8px;
  padding: 12px 24px;
  outline: none;
  resize: none;
  overflow: hidden;
}

.comment-input:focus {
  border-color: var(--pr-btn-col);
}

.pr-btn {
  width: 104px;
  height: 48px;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  background: var(--pr-btn-col);
  transition: background 0.28s ease;
}

.pr-btn:hover {
  background: var(--pale-pr-btn-col);
}

.blue-btn {
  color: var(--pr-btn-col);
}

.delete-btn {
  color: var(--delete);
}
