@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --primary-back: #f5f6fa;
  --pr-text-col: #67727e;
  --heading: #334253;
  --delete: #ed6368;
  --pale-delete: #ffb8bb;
  --pr-btn-col: #5357b6;
  --pale-pr-btn-col: #c5c6ef;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-back);
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}
